body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 20px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: auto;
  margin-left: 90px;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  padding: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.nav__links li a:visited,
.nav__links li a:link {
  color: rgb(56, 240, 179);
  /* background-color: transparent; */
  text-decoration: none;
}
.nav__links li a:hover {
  background-color: rgba(255, 145, 54, 0.3);
  border-top: 3px solid coral;
  color: coral;
}

header .nav__links {
  margin-right: auto;
  margin-left: 2vw;
}

#login {
  margin-right: 30px;
}

#selection-search {
  border: none;
}

#select {
  padding: 10px;
  border-left: grey 1px solid;
  border-right: grey 1px solid;
}
